.error {
color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img {
    border-radius: 4px;
}

button {
    display: block;
    width: 150px;
    text-decoration: none;
    color: darkgrey;    
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover{
    color: black;
    border: 1px solid black;
}

a {
text-decoration: none;
color: darkslategrey;
font-family: sans-serif;
padding-top: 20px;
font-size: 0.8rem;
}

a:hover {
    color: red;
}