body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 40%;
}

form label {
    font-size: 0.8rem;
    margin-top: 10px;
}

form button {
    margin-top: 10px;
}
